/* Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* Variables */
:root {
  --clr-primary-white: hsl(0, 0%, 97%);
  /* Scissors radiant */
  --clr-primary-orange: hsl(39, 89%, 49%);
  --clr-primary-orange-2: hsl(40, 84%, 53%);
  /* Paper radiant */
  --clr-primary-blue: hsl(230, 89%, 62%);
  --clr-primary-blue-2: hsl(230, 89%, 65%);
  /* Rock radiant */
  --clr-primary-red: hsl(349, 71%, 52%);
  --clr-primary-red-2: hsl(349, 70%, 56%);
  /* Lizard radiant */
  --clr-primary-violet: hsl(261, 73%, 60%);
  --clr-primary-violet-2: hsl(261, 72%, 63%);
  /* Spock radiant */
  --clr-primary-cyan: hsl(189, 59%, 53%);
  --clr-primary-cyan-2: hsl(189, 58%, 57%);

  /* background radiant from 800 to 900 */
  --clr-neutral-900: hsl(237, 49%, 15%);
  --clr-neutral-800: hsl(214, 47%, 23%);
  /* dark text color */
  --clr-neutral-700: hsl(229, 25%, 31%);
  /* header outline color */
  --clr-neutral-600: hsl(217, 16%, 45%);
  /* score text color */
  --clr-neutral-500: hsl(229, 64%, 46%);

  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}

.clr-score-number {
  color: var(--clr-neutral-700);
}

.clr-white-text {
  color: var(--clr-primary-white);
}

.clr-score-text {
  color: var(--clr-neutral-500);
}

.clr-winScore-text {
  color: var(--clr-primary-red);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(
      at top,
      var(--clr-neutral-800),
      var(--clr-neutral-900)
    )
    no-repeat;
  min-height: 100vh;
  text-transform: uppercase;
  color: var(--clr-primary-white);

  padding: 2rem;
}

.header {
  height: 150px;
  border: 3px solid var(--clr-neutral-600);
  border-radius: 20px;
  padding: 1rem;
}

@media only screen and (min-width: 53.125em) {
  .header {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 90em) {
  .header {
    width: 1024px;
  }
}

.header > img {
  height: 60%;
}

.score {
  flex-direction: column;
  justify-content: center;
  background: var(--clr-primary-white);
  border-radius: 10px;
  width: 60px;
  height: 80%;
  line-height: 1;
  text-align: center;
}
@media only screen and (min-width: 42.5em) {
  .header {
    padding: 1rem 1.4rem 1rem 2rem;
  }
  .header > img {
    height: 100%;
  }

  .score {
    width: 150px;
    height: 100%;
  }
}

.score__title {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

.score__number {
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (min-width: 42.5em) {
  .score__title {
    font-size: 1.1rem;
  }
  .score__number {
    font-size: 4rem;
  }
}

.result {
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.result-msg {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--clr-primary-orange);
}

.options {
  position: relative;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  grid-template-areas:
    "paper scissors"
    "rock rock";
  place-items: center;
  width: 22rem;
  height: 20rem;
  margin: 2rem auto;
}

@media only screen and (max-width: 24.4375em) {
  .options {
    width: 18rem;
    height: 20rem;
  }
}

.options::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;

  background: url("images/bg-triangle.svg") no-repeat;
  z-index: -1;
  background-position: center;
  background-size: contain;
}

.choice {
  position: relative;

  cursor: pointer;
  background-color: var(--clr-primary-white);
  box-shadow: inset 0 0.5rem var(--shadow-light);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.choice::before {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice-paper {
  grid-area: paper;
  background-image: url(images/icon-paper.svg);
}

.choice-paper::before {
  background: linear-gradient(
    to bottom,
    var(--clr-primary-blue),
    var(--clr-primary-blue-2)
  );
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--clr-primary-blue-2);
}

.choice-scissors {
  grid-area: scissors;
  background-image: url(images/icon-scissors.svg);
}

.choice-scissors::before {
  background: linear-gradient(
    to bottom,
    var(--clr-primary-orange),
    var(--clr-primary-orange-2)
  );
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--clr-primary-orange-2);
}

.choice-rock {
  grid-area: rock;
  background-image: url(images/icon-rock.svg);
}

.choice-rock::before {
  background: linear-gradient(
    to bottom,
    var(--clr-primary-red),
    var(--clr-primary-red-2)
  );
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--clr-primary-red-2);
}

.btn-container {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 53.25em) {
  .btn-container {
    justify-content: end;
  }
}

.rules-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;

  justify-content: center;
}

.rules-container {
  background-color: var(--clr-primary-white);
  padding: 2rem;
  gap: 2rem;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-evenly;

  position: relative;
}

.rules-header {
  width: 100%;
}

.rules-header h2 {
  color: var(--clr-neutral-700);
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 53.25em) {
  .rules-container {
    height: 100%;
    width: 100%;
  }

  .rules-header {
    justify-content: center;
  }

  .rules-header > button {
    position: absolute;
    bottom: 5rem;
  }
}

.btn {
  border: 2px solid transparent;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  transition: 0.3s ease-out;
}

.rules-btn {
  border-color: var(--clr-neutral-600);
}

.rules-btn:hover {
  border-color: var(--clr-primary-white);
}

.replay-btn {
  border-color: var(--clr-neutral-800);
  color: var(--clr-neutral-500);
  display: none;
}

.replay-btn:hover {
  border-color: var(--clr-neutral-500);
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-transform: inherit;
}
